<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="applicationName" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="hu.hazazs.rest.api.log.LogFilter"/>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %clr(%5level) %magenta(${PID}) --- [${applicationName}] [%15.15thread] %cyan(%-40.40logger{40}) : %message%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>