<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Position report</title>
        <meta content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div th:if="${!#lists.isEmpty(currentPosition)}">
            <h2>Current aircraft position</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Call sign</th>
                        <th>Squawk</th>
                        <th>AC reg</th>
                        <th>Flight #</th>
                        <th>Route</th>
                        <th>AC type</th>
                        <th>Altitude</th>
                        <th>Heading</th>
                        <th>Speed</th>
                        <th>Vert rate</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Last seen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="aircraft : ${currentPosition}">
                        <td th:text="${aircraft.id}"></td>
                        <td th:text="${aircraft.callsign}"></td>
                        <td th:text="${aircraft.squawk}"></td>
                        <td th:text="${aircraft.reg}"></td>
                        <td th:text="${aircraft.flightno}"></td>
                        <td th:text="${aircraft.route}"></td>
                        <td th:text="${aircraft.type}"></td>
                        <td th:text="${aircraft.altitude}"></td>
                        <td th:text="${aircraft.heading}"></td>
                        <td th:text="${aircraft.speed}"></td>
                        <td th:text="${aircraft.vertRate}"></td>
                        <td th:text="${aircraft.lat}"></td>
                        <td th:text="${aircraft.lon}"></td>
                        <td th:text="${aircraft.lastSeenTime}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script type="text/javascript">
        window.onload = setupRefresh;

        function setupRefresh() {
            setTimeout("refreshPage();", 10000);
        }

        function refreshPage() {
            window.location = location.href;
        }
    </script>
</html>