<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Winner report</title>
        <meta content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div th:if="${!#lists.isEmpty(random_winner)}">
            <h2>Random winner</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="winner : ${random_winner}">
                        <td th:text="${winner.id}"></td>
                        <td th:text="${winner.name}"></td>
                        <td th:text="${winner.age}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>